<div class="container-fluid">
    <div class="row">
      <div class="col bor leftCol">
        <span>
          <a href="https://www.instagram.com/brillaconsaludybelleza/">
            <img width="30" height="30"
            src="../assets/img/Instg.svg" alt="Instagram">
          </a>
        </span>
        <span>
          <a href="https://www.facebook.com/brillaconsalud/">
            <img width="30" height="30"
            src="../assets/img/Fb-round-corner.svg" alt="Facebook">
          </a>
        </span>
      </div>
  
      <div class="col-sm-8 bor centerCol">
  
      
        <nav class="navbar navbar-expand-lg navbar-light ">
          <!-- <a class="navbar-brand" href="#">Navbar</a> -->
          <button class="navbar-toggler" type="button"
                    data-toggle="collapse"
                    data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item dropdown" appDropdown>
                <a class="nav-link dropdown-toggle"
                    id="navbarDropdownMenuLink"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    href="#estiloDvida"
                    (click)="onSelect('estiloDvida')"
                >Estilo de Vida</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#A">Action</a>
                  <a class="dropdown-item" href="#An">Another action</a>
                  <a class="dropdown-item" href="#S">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#lactancia" (click)="onSelect('lactancia')">Lactancia</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#viajes" (click)="onSelect('viajes')">Viajes</a>
              </li>
              <!-- <li class="nav-item">
                <a class="nav-link" href="#cursos" (click)="onSelect('cursos')">Cursos</a>
              </li> -->
              <li class="nav-item">
                <a class="nav-link" href="#acercaDmi" (click)="onSelect('acercaDmi')">Acerca de mi</a>
              </li>
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#A">Action</a>
                  <a class="dropdown-item" href="#An">Another action</a>
                  <a class="dropdown-item" href="#S">Something else here</a>
                </div>
              </li> -->
            </ul>
          </div>
        </nav>
      <br>
        <!-- <br><hr><br> -->
        <span class="title">{{ title }} </span>
        <!-- <br><hr><br> -->
        
      </div>
  
      <div class="col bor rightCol">
        <span>
          <a href="http://">Contáctame
          </a>
        </span>
        <span>
          <a href="http://">Subscribete
          </a>
        </span>
      </div>
  
    </div>
  </div>
  