<div class="container-fluid">
  <div class="row">
    <div class="col bor leftCol">
      <span>
        <a href="https://www.instagram.com/brillaconsaludybelleza/">
          <img width="30" height="30"
          src="../assets/img/Instg.svg" alt="Instagram">
        </a>
      </span>
      <span>
        <a href="https://www.facebook.com/brillaconsalud/">
          <img width="30" height="30"
          src="../assets/img/Fb-round-corner.svg" alt="Facebook">
        </a>
      </span>
    </div>
    <div class="col bor centerCol">
      <span>
        <!-- Link to component Estilo de Vida -->
        <a href="http://">Estilo de Vida
        </a>
      </span>
      <span>
        <a href="http://">Lactancia
        </a>
      </span>
      <span>
        <a href="http://">Viajes
        </a>
      </span>
      <span>
        <a href="http://">Cursos
        </a>
      </span>
      <span>
        <a href="http://">Acerca de mi
        </a>
      </span>
      <br><hr><br>
      <span>{{ title }} </span>
      <br><hr><br>
      
    </div>

    <div class="col bor rightCol">
      <span>
        <a href="http://">Contáctame
        </a>
      </span>
      <span>
        <a href="http://">Subscribete
        </a>
      </span>
    </div>

  </div>
  
  <div class="row">
    <div class="col-sm-12 bor">
    <app-vista-inicial></app-vista-inicial>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bor">
    <app-estilo-vida></app-estilo-vida>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bor">
    <app-lactancia></app-lactancia>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bor">
    <app-viajes></app-viajes>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bor">
    <app-cursos></app-cursos>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 bor">
    <app-acerca-de-mi></app-acerca-de-mi>
    </div>
  </div>

</div>



<router-outlet></router-outlet>