/* *{
    margin: 0px;
    padding: 0px;
} */
.title{
    font-family: cursive;
    font-style: italic;
    font-family: 'Sofia';
    font-size: 45px;
    color: rgb(0, 206, 209);
    text-align: center;
    resize: none;
}