<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <span>
        <a href="https://www.instagram.com/brillaconsaludybelleza/">
          <img width="30" height="30"
          src="../assets/img/Instg.svg" alt="Instagram">
        </a>
      </span>
      <span>
        <a href="https://www.facebook.com/brillaconsalud/">
          <img width="30" height="30"
          src="../assets/img/Fb-round-corner.svg" alt="Facebook">
        </a>
      </span>
    </div>
    <div class="col-md">
      <span>
        <a href="http://">Estilo de Vida
        </a>
      </span>
      <span>
        <a href="http://">Lactancia
        </a>
      </span>
      <span>
        <a href="http://">Viajes
        </a>
      </span>
      <span>
        <a href="http://">Acerca de mi
        </a>
      </span>
      <br><hr><br>
      <span>{{ title }} </span>
    </div>
    <div class="col-sm">
      <span>
        <a href="http://">Contáctame
        </a>
      </span>
      <span>
        <a href="http://">Subscribete
        </a>
      </span>
    </div>
  </div>
  
</div>



<router-outlet></router-outlet>