<h1>viajes works!</h1>

<!-- <nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" 
                id="dropdown03"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">Estilo de Vida</a>
            <div class="dropdown-menu" aria-labelledby="dropdown03">
                <a class="dropdown-item" routerLink="/">Action</a>
                <a class="dropdown-item" routerLink="/">Another action</a>
                <a class="dropdown-item" routerLink="/">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Lactancia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" tabindex="-1" aria-disabled="false">Viajes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/" tabindex="-1" aria-disabled="false">Acerca de mi</a>
        </li>
      </ul>
      
    </div>
  </nav> -->